= simple_form_for(@team) do |f|
  = f.error_notification

  .form-inputs
    .large-2.medium-4.small-12.columns
      - if current_user.admin?
        = f.association :manager, include_blank: true, collection: User.order(:name)
      - else
        = f.association :manager, include_blank: true, collection: [current_user]
    .large-2.medium-4.small-12.columns= f.input :short
    %hr
    .large-2.medium-4.small-12.columns= f.input :name
    .large-2.medium-4.small-12.columns= f.association :division
    .large-2.medium-4.small-12.columns= f.association :formation, selected: @team.formation || '442'
    .large-3.medium-6.small-12.columns= f.input :uniform_colors
    .large-3.medium-6.small-12.columns= f.input :alternate_colors
    .large-3.medium-6.small-12.columns= f.input :field_preference
    .large-3.medium-6.small-12.columns= f.input :kick_time_preference
    .large-6.medium-12.small-12.columns= f.input :mailing_address, input_html: { rows: 5 }

  %hr
  .form-actions
    = f.button :submit
