#dashboard
  #field{ class: "#{@team.formation.id}"}
    %h3= "#{@team.name} #{@team.formation.name} Line-Up"
  #bench
    %h3 Bench
    .clear-both
    - @team.players.active_or_pending.each do |player|
      .bench-player
        = link_to player.safe_name, edit_player_path(player)
        = link_to player.first_name, edit_player_path(player)
        %br