%h3= "Welcome to #{@team.name} #{@team.division.age}+ Team!"

%p
  %b Managers:
  = @team.manager_names
  %br
  / %b Formation:
  / = link_to @team.formation.name, @team.formation

  %h4 Roster
  = link_to "#{@team.players.active.count} Active Players", team_players_path(@team)
  %br
  = link_to "#{@team.players.pending.count} Pending Players", team_players_path(@team)
  %br

  %h4 Contact
  Call Mihai at 415.734.0129 with any questions