%h3= @team.name



%p
  %b= @team.division.full_name
  %br
  %b Manager:
  = @team.manager.try(:name)
  \—
  = number_to_phone(@team.manager.try(:day_phone), delimiter: '.')
  %br
  %b Uniform Colors:
  = "#{@team.uniform_colors} (Alternate: #{@team.alternate_colors})"
  %br
  %b Home Field:
  = @team.field_preference
  
  / %b Formation:
  / = link_to @team.formation.name, @team.formation

  %h4= "Active Roster (#{@team.players.active.size} Players)"
  = link_to "#{@team.players.pending.count} Pending Players", team_players_path(@team)
  %br
  = render 'players/roster', players: @team.players.active