%p= "Dear #{@user.manager.name},"

%p
  = "Your #{link_to @user.manager.team.name, @user.manager.team} user, #{@user.name}, updated #{link_to 'his profile.', user_url(@user)}".html_safe

%p Perhaps it is now ready to submit to the league?

%p
  Sincerely,
  %br
  EBSSL
