%h3= "Welcome to #{LEAGUE_NAME_SHORT}, #{@user.first}!"

%p= "Dear #{@user.name},"

%p
  Thank you for creating or updating
  = link_to 'a user profile', user_url(@user)
  on our site.

- if @invited
  %p
    Your team manager
    = @user.manager.name if @user.manager
    has been notified.
    %br
    If needed, he will confirm your registration is complete and send it on to the league.

%p
  Sincerely,
  %br
  = LEAGUE_NAME_SHORT
