- if user
  .pass
    .pass-title
      %b EAST BAY SENIOR SOCCER LEAGUE
    .pass-left
      = "Player ID #{user.pass_id}"
      %br
      %br
      = "License #{user.pass_license}"
      %br
      %br
      %b= user.name_for_pass
    .pass-right
      = image_tag user.photo.url(:thumb)
