%tr
  %td= link_to show_bool(user.selected, 30), toggle_selected_user_path(user), method: :post
  %td= user.id
  %td
    = link_to user.team_name, user.team if user.team
  %td= link_to "#{user.first_name} #{user.middle_name} #{user.last_name}", user
  - if user.manager_confirmation
    %td= image_tag('checkmark.png')
  - else
    %td
      = image_tag('warning.png')
      = user.manager_message
  %td
  %td
    .action= link_to 'PDF', user_path(user) + '.pdf'
    \|
    .action= link_to 'Edit', edit_user_path(user)
    \|
    .action= link_to('Delete', user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user
