%tr
  %td
    = link_to user.team_name, user.team if user.team
  %td= link_to user.name, user
  %td= image_tag(user.manager_confirmation ? 'checkmark.png' : 'warning.png')
  %td
  %td
    .action= link_to 'PDF', user_path(user) + '.pdf'
    \|
    .action= link_to 'Edit', edit_user_path(user)
    \|
    .action= link_to('Delete', user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user
