.large-4.columns
  = link_to user.name, user
  %br
  = user.email
.large-2.columns= link_to 'Reg. PDF', user_path(user) + '.pdf', class: 'button-xs'
.large-2.columns= link_to 'Edit', edit_user_path(user), class: 'button-xs'
.large-2.columns= link_to('Delete', user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
.clear-both
%br