%h1
  EBSSL Games
  - if admin_or_manager?
    %sup= link_to image_tag('plus.png', size: 12), params[:division_id] ? new_division_game_path(params[:division_id]) : new_game_path

%table#games.compact
  %thead
    %tr
      %th Wk
      %th.text-right Home
      %th.text-center Score
      %th Away
      %th Field
      %th Date
      %th Time
      %th
      / %th Context
      / %th Referee
      / %th Field
      / %th Status

  %tbody
    - @games.each do |game|
      %tr
        %td= game.week
        %td.text-right= link_to game.home_team.try(:name), game.home_team
        %td.text-center= link_to game.score, edit_game_path(game) rescue ''
        %td= link_to game.away_team.try(:name), game.away_team
        %td= link_to game.field.name, game.field
        %td= game.scheduled_sun.strftime('%b-%d')
        %td= link_to game.kickoff_time.strftime('%H:%M'), edit_game_path(game) rescue ''
        / %td= game.context
        / %td= game.referee_id
        / %td= game.field_id
        / %td= game.status
        %td= link_to image_tag('settings.png', size: 12), edit_game_path(game)
        / %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }
