%p#notice= notice

%p.larger-font
  %b= @game.division.full_name
  %br
  %b Context:
  = @game.context.titleize
  %br

%p.larger-font
  %b Home:
  = @game.home_team.name
  %br
  %b Away:
  = @game.away_team.name
  %br
  %b Kickoff:
  = @game.kickoff
  %br
  %b Field:
  = @game.field_id

%hr

%p.larger-font
  %b Score:
  = "#{@game.home_goals.count} - #{@game.away_goals.count}"
  %br
  %b Goal Scorers:
  = @game.goals.map(&:scorer_name).join(', ')
  %br
  %b Goal Assisters:
  = @game.goals.map(&:assister_name).join(', ')
  
  
