%tr
  %td= player.safe_jersey
  %td= link_to player.safe_name, player
  %td.text-center= player.invited_or_active == 'Active' ? image_tag('checkmark.png') : player.invited_or_active
  - if current_user && current_user.admin?
    %td.admin-only.text-center= link_to "User #{player.user.try(:id) || ''}", player.user
    %td.admin-only.text-center= player.email
    %td.admin-only.text-center= number_to_phone(player.user.phone, delimiter: '.') rescue ''
    %td.admin-only.text-center= player.safe_position
    %td.admin-only.text-center= player.paid ? image_tag('checkmark.png') : ''
    %td.admin-only.text-center
      = link_to 'Edit', edit_player_path(player)
      = link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?'}
  - else
    %td= player.position_request
    %td= player.ideal_minutes
    %td= player.city

/ .large-1.medium-1.small-2.columns= player.safe_jersey
/ - if current_user && current_user.admin?
/   .large-2.medium-2.small-4.text-center.columns.admin-only
/     = link_to player.safe_position, edit_player_path(player)
/ - else
/   .large-2.medium-2.small-4.text-center.columns= player.safe_position
/ .large-2.medium-4.small-4.columns= link_to player.safe_name, player
/ .large-1.medium-2.small-2.columns= player.invited_or_active
/ - if current_user && current_user.admin?
/   .large-1.medium-1.small-2.columns.admin-only
/     = link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?'}
/ .clear-both
