%h1 Roster

- if @team
  %h4 Active
  = render @active.order(:jersey)

  %h4 Pending
  = render @pending.order(:jersey)

  %h4 Inactive (numbers)
  = render @inactive.order(:jersey)

  %hr

%table
  %thead
    %tr
      %th #
      - unless params[:team_id]
        %th Team
      %th First
      %th Last
      %th Positions
      %th Keeper?
      - if params[:team_id]
        %th Why I Play
      - if current_user.admin?
        %th
        %th
        %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.jersey
        - unless params[:team_id]
          %td= player.team.try(:name) || 'Free Agent'
        %td= player.first
        %td= player.last
        %td= player.positions
        %td= player.keeper ? 'Yes' : 'No'
        - if params[:team_id]
          %td= player.why
        - if current_user.admin?
          %td.admin-only= link_to 'Show', player
          %td.admin-only= link_to 'Edit', edit_player_path(player)
          %td.admin-only= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
