%h4= "#{@formation.name} Formation"

/ = image_tag(@formation.image_url)

#field
  .pbox{:style => "left:100px; top:200px;"} Kirill
  .pbox{:style => "left:500px; top:400px;"} Mihai
  
  

- if @formation.positions && @formation.positions.keys.size > 0
  %hr
  - @formation.positions.each do |k, v|
    = "##{k} — #{v}"
    %br
