%li
  %a{"data-dropdown" => "league", "data-options" => "is_hover:true; hover_timeout:200", href: "#"}
    League Info
  %ul#league.f-dropdown.tiny{"data-dropdown-content" => ""}
    %li= link_to 'Fields (2016-2017)', fields_path
    %li= link_to 'Schedule (2016-2017)', games_path
    %li= link_to 'Standings (2016-2017)', divisions_path
    %li= link_to 'Registration (2016-2017)', registration_path
    %li= link_to 'ByLaws (PDF)', asset_path('bylaws.pdf')
    %li= link_to 'ebssl.com', 'http://ebssl.com/'
